:root {
    --primery-text-color: #757575;
    --title-black-color: #212121;
    --main-white-coloor: #FFFFFF;
    --main-blue-color: #2196F3;
    --logo-black-color: #000000;
    --footer-hero-background-color: #2F303A;
    --ourteam-background-color: #F5F4FA;
    --buttons-grey-color: #EEEEEE;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --header-border-line: #ECECEC;
    --filter-background-color: #F5F5F5
}


$main-blue-color: #2196F3;
$title-black-color: #212121;
$primery-text-color: #757575;
$header-border-line: #ECECEC;
$ourteam-background-color: #F5F4FA;
$main-white-coloor: #FFFFFF;
$logo-black-color: #000000;
$footer-hero-background-color: #2F303A;
$buttons-grey-color: #EEEEEE;
$footer-link-color: rgba(255, 255, 255, 0.6);