.features {
    padding: 60px 0;

    @media screen and (min-width:1200px) {
        padding: 94px 0;

    }
}


@media screen and (min-width:768px) and (max-width:1199px) {
    .features {
        background-color: #F5F5F5;
    }

}

@media screen and (min-width:768px) {
    .features__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}


.features__item {
    max-width: 450px;

    @media screen and (min-width:768px) and (max-width:1199px) {
        max-width: 354px;

    }

    @media screen and (min-width:768px) {
        max-width: 270px;

    }
}


.features__icon {
    @include centredFlex(flex, center, center);
    max-width: 450px;
    height: 120px;
    background-color: $ourteam-background-color;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-black-color;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .features__title {
        text-align: center;
    }
}


.features__dscr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: auto;
    margin-right: auto;
}

.features__item {
    margin-left: auto;
    margin-right: auto;
}

.features__item:not(:last-of-type) {
    margin-bottom: 30px;

}